Package: f8-example
Architecture: amd64
Maintainer: Lee Archer <lee@connected-ventures.com>
Priority: optional
Version: 0.0.2
Description: Demonstrate how to use deb deployment with Golang/gb projects
